<!DOCTYPE html>
<!--
======================================================
______    _ _           ______    _     _             
|  ___|  | | |          |  ___|  (_)   | |            
| |_ __ _| | |_ ___ _ __| |_ _ __ _  __| | __ _ _   _ 
|  _/ _` | | __/ _ \ '__|  _| '__| |/ _` |/ _` | | | |
| || (_| | | ||  __/ |  | | | |  | | (_| | (_| | |_| |
\_| \__,_|_|\__\___|_|  \_| |_|  |_|\__,_|\__,_|\__, |
                                                 __/ |
                                                |___/ 
======================================================
Owner Name: Patrick A. Todd
Profile: https://www.github.com/falterfriday
Blog: https://falterfriday.wordpress.com/
Version: 0.2
Description: Never Stop Learning
======================================================
-->

  <head>
    <title>Form Test Show</title>
  </head>
  <body>
    <h1>User:</h1>
    <h3>{{session['name']}}</h3>
    <h3>{{session['email']}}</h3>
  </body>
</html>